<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ds.cockpit.screen.system.mapper.AiAgentTypeMapper">

    <resultMap id="AiAgentTypeResult" type="AiAgentType">
        <id     property="id"     column="id"      jdbcType="BIGINT"/>
        <result property="agentId" column="agent_id" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="agentKey" column="agent_key" jdbcType="VARCHAR"/>
        <result property="typeCode" column="type_code" jdbcType="VARCHAR"/>
        <result property="typeValue" column="type_value" jdbcType="VARCHAR"/>
        <result property="pathValue" column="path_value" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectById" resultMap="AiAgentTypeResult">
        select
        id, agent_id, title, agent_key, type_code, type_value,
        path_value, status, create_time, update_time, remarks
        from
            ai_agent_type_dify
        where id = #{id}
    </select>

    <update id="updateAgentUnused">
        update ai_agent_type_dify v
        <set>
            <if test="id != null ">
                v.status = '0',
                v.update_time = sysdate()
            </if>
        </set>
        where v.id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateAgentUsed">
        update ai_agent_type_dify v
        <set>
            <if test="id != null ">
                v.status = '1',
                v.update_time = sysdate()
            </if>
        </set>
        where v.id = #{id,jdbcType=BIGINT}
    </update>

    <select id="getAgentTypeFenci" resultMap="AiAgentTypeResult">
        SELECT
            id, agent_id, title, agent_key, type_code, type_value,
            path_value, status, create_time, update_time, remarks
        FROM ai_agent_type_dify
        where  type_code = '1' and status = '1'
    </select>

    <select id="getAgentTypeQA" resultMap="AiAgentTypeResult">
        SELECT
            id, agent_id, title, agent_key, type_code, type_value,
            path_value, status, create_time, update_time, remarks
        FROM ai_agent_type_dify
        where type_code = '2' and status = '1'
    </select>

    <select id="getAgentTypeQAById" resultMap="AiAgentTypeResult">
        SELECT
            id, agent_id, title, agent_key, type_code, type_value,
            path_value, status, create_time, update_time, remarks
        FROM ai_agent_type_dify
        where type_code = '2' and status = '1' and id = #{id,jdbcType=BIGINT}
    </select>

    <select id="getAgentTypeMonitor" resultMap="AiAgentTypeResult">
        SELECT
            id, agent_id, title, agent_key, type_code, type_value,
            path_value, status, create_time, update_time, remarks
        FROM ai_agent_type_dify
        where type_code = '3' and status = '1'
    </select>

</mapper>
